<h1>Productos</h1>
    <form action="/productos" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre"><br><br>
        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio"><br><br>
        <label for="thumbnail">Thumbnail:</label>
        <input type="text" id="thumbnail" name="thumbnail"><br><br>
        <input type="submit" value="Save" id="submit">
      </form>
      <a href="/productos">Ir a los productos</a>
<div>
    <h1>Todos los productos</h1>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Foto</th>
        </tr>
    </table>
    <table id="productos">

    </table>
</div>
<div>
    <h1>Deja un comentario!</h1>
    <div id="mensajes"></div>
    <form onsubmit="return addMessage(this)">
    <input type="email" id="username" placeholder="Tu email" >
    <input type="text" id="texto" placeholder="Dejanos tu opinion">
    <input type="submit" value="Enviar">
</form>
</div>